@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to razor sharp pizzas</h1>
        <h2 class="mainSubtitle">This is the place to be for all your pizza needs.</h2>
    </div>
   
    <img class="mainImage" src="~/images/PizzaTime.jpg"/>
    <br/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">Bring me the pizza</a>

</div>
